.main-app{
    /*height: 100vh;*/
}
.contet-pages{
    height: 80vh;
}
.header-menu-top{

}
.header-menu-side{
    display: inline-block;
}
.content-menu-top{

}
.content-menu-side{
    display: inline-block;
}